<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DNS Query</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="static/js/jquery-3.1.1.js"></script>
</head>

{% for line in result %}
<script type="text/javascript">
    var list = {{ line|tojson }};
    alert(list);
</script>
{% endfor %}

<body>
    <h1>DNS Query</h1>
    <div class="login-01">
        <form action="/" method="get">
            <ul>
                <li class="first">
                    <a href="/" class=" icon user"></a>
                    <input name="site" type="text" class="text" value="example.com">
                    <div class="styled-select">
                        <select name="type">
                            <option value="a">A</option>
                            <option value="aaaa">AAAA</option>
                            <option value="any">ANY</option>
                            <option value="caa">CAA</option>
                            <option value="cname">CNAME</option>
                            <option value="mx">MX</option>
                            <option value="ns">NS</option>
                            <option value="ptr">PTR</option>
                            <option value="soa">SOA</option>
                            <option value="srv">SRV</option>
                            <option value="txt">TXT</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select name="mode">
                            <option value="recur">递归</option>
                            <option value="iter">迭代</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select name="history">
                            <option value="false">不显示记录缓存</option>
                            <option value="true">显示记录缓存</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <input type="submit" value="Submit">
            <div class="clear"></div>
        </form>
    </div>
    <div class="copy-right">
        <div class="wrap">
            {% for line in lines %}
                <p>{{ line|safe }}</p>
            {% endfor %}
        </div>
    </div>

</body>

</html>