<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DNS Query</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="static/js/jquery-3.1.1.js"></script>
</head>

<body>
    <h1>DNS Query Result</h1>

    <div class="copy-right">
        {% for line in lines %}
            <p>{{ line|safe }}</p>
        {% endfor %}
        <br><br><br>
        <div class="wrap">
            <p>Copyright © 2018. DCGZ All right reserved.</p>
        </div>
    </div>

</body>

</html>